.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: #1a1a1a;
    }
  }
}
